//$text-color                   = white
$head-bg                        = #C7EDCC
$body-bg-color                = #FAF9DE 
$footer-bg						= $head-bg
$site-meta-text-align           = center
$selection-color              = #C7EDCC

